node_modules
dist
__pycache__
*.py[cod]
.env
.env.*
*.local
temp_uploads
output
.idea/
.vscode/
.DS_Store

# Python virtual env
venv/
env/

# Logs
*.log

# Build folders (extra safety)
build/

# Flask instance folder (IMPORTANT)
instance/
